# Ignore node_modules directory
node_modules/
node_modules_windows/
node_modules_wsl/

# Ignore log files
logs
*.log
npm-debug.log*

# Ignore environment variable files
.env

# Ignore build directories
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/

# Ingore env and secrets
.env
secrets.json